.product-wrapper {
    display: flex;
    flex-direction: column;
    width: 256px;
    height: 412px;

    > .image-wrapper{
        display: flex;
        justify-content: center;
        border-top-left-radius:20px ;
        border-top-right-radius:20px ;
        background-color: #E1ECC8;
        padding: 16px; 
    
        > img {
            width: 212px;
            height: 212px;
            object-fit: contain;
        }
    }

}